body {
    background-image: url("../jpg/chartlotteskyline.jpeg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }

  .header {
    background-color:rgb(54, 11, 94);
    height: 150px;
  }

.timebox {
  flex: wrap;
  justify-content: right;
  color:rgb(195, 157, 231);
  padding-left: 8px;
}

.display-4 {
  text-align: center;
  color:rgb(195, 157, 231);
  padding-bottom: 20px;

}

.container2 {
  padding-top: 25px;
  text-align: center;
  justify-content: center;
  color:rgb(30, 3, 59);
  height: 200px;
  max-width: 500%;
  background-color:rgb(195, 157, 231);
  opacity:0.2;
  padding: 35px 70px 50px 90px;
}

.row {
  display: flex;
  
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: right;
<<<<<<< HEAD
  padding: 20px;
=======
  padding: 50px;
>>>>>>> b56c413eb2715132c826ee4b95a12e05680d496a
  text-align: center;
  color: rgb(135, 39, 224);
  height: 400px;
  max-width: 200%;
  background-color:rgb(195, 157, 231);
  opacity:0.5;
  
  
  
}

.column2 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: right;
<<<<<<< HEAD
  padding: 20px;
=======
>>>>>>> b56c413eb2715132c826ee4b95a12e05680d496a
  text-align: center;
  color:rgb(135, 39, 224);
  padding: 50px;
  height: 400px;
  max-width: 200%;
  background-color:rgb(195, 157, 231);
  opacity:0.5;
  
}

.row2 {
  display: -webkit-flex;
  display: flex;
}

.column3 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
<<<<<<< HEAD
  padding: 20px;
=======
  padding: 10px;
>>>>>>> b56c413eb2715132c826ee4b95a12e05680d496a
  text-align: center;
  color: rgb(135, 39, 224);
  height: 400px;
  max-width: 200%;
  background-color:rgb(195, 157, 231);
  opacity:0.5;

  
}
.column4 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: right;
  padding: 20px;
  text-align: center;
  color:rgb(116, 18, 207);
  height: 400px;
  max-width: 200%;
  background-color:rgb(195, 157, 231);
  opacity:0.5;

  
}

.button{
  justify-content: right;

}