body {
    background-image: url("../jpg/chartlotteskyline.jpeg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }

  .header {
    background-color:rgb(54, 11, 94);
    height: 230px;
  }

.timebox {
  flex: wrap;
  justify-content: right;
  color:rgb(195, 157, 231);
  padding-left: 8px;
}

.display-4 {
  text-align: center;
  color:rgb(195, 157, 231);
}

.container2 {
  flex: wrap;
  text-align: center;
  justify-content: center;
  color:rgb(195, 157, 235);
  height: 180px;
  max-width: 500%;
  background-color: rgba(76, 50, 100, 0.4);
  padding-top: 10px;
}


.row {
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: right;
  padding: 20px;
  text-align: center;
  color: rgb(32, 2, 59);
  height: 330px;
  max-width: 200%;
  background-color:rgba(195, 157, 231, 0.5);
}

.column2 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: right;
  text-align: center;
  color:rgb(32, 2, 59);
  padding: 20px;
  height: 330px;
  max-width: 200%;
  background-color:rgba(195, 157, 231, 0.5);
}

.row2 {
  display: -webkit-flex;
  display: flex;
}

.column3 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  text-align: center;
  color: rgb(32, 2, 59);
  height: 475px;
  max-width: 200%;
  background-color:rgba(195, 157, 231, 0.5);
}
.column4 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: right;
  padding: 20px;
  text-align: center;
  color:rgb(32, 2, 59);
  height: 475px;
  max-width: 200%;
  background-color:rgba(195, 157, 231, 0.5);
}

.button{
  justify-content: right;

}